body{
    display: flex;
    height: 97vh;
    width: 99vw;
}
.parent-div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.child-div{
    min-height: 200px;
    background: orange;
    margin: 10px;
}
.child2-div{
    min-height: 200px;
    background: greenyellow;
    margin: 10px;
}